<div data-role='view' data-layout="drawer-layout" data-title='Вебкамеры' data-model="webcamsModel">
    
    <script src="js/model-webcams.js"></script>
    <div id='main_camera' data-bind="click: widezoom" class='maincamera'>
	<div class='webcamera_text'>Вид из отеля Alpen-Club</div>
    </div>
    <div class='clear'></div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>
    
    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text'>Вид из отеля Alpen-Club</div>
    </div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>

    <div id='second_tier_camera' class="secondtiercamera">
	<div class='webcamera_text' >Вид из отеля Alpen-Club</div>
    </div>
</div>